* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #1b1b1b;
    background-image: url("../images/fondo.png"); 
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    box-shadow: 0 1px 4px rgba(255, 0, 0, 0.3);
}

.img-header-mgp {
    width: 80px;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #c20000;
}

.nav-active {
    color: #bc0000;
    border-bottom: 2px solid #bc0000;
}

/* MAIN */

main {
    flex: 1;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px;
}

h2 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 60px;
}

/* VIDEOS GRID */

.videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}

.card {
    border: 1px solid maroon;
    border-radius: 12px;
    padding: 15px;
    background-color: #141414;
}

.videos iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    display: block;
}

.der {
    text-align: right;
    margin-top: 10px;
}

.izq {
    text-align: left;
    margin-top: 10px;
}

/* FOOTER */

.footer {
    width: 100%;
    background-color: #151515;
    padding: 40px 20px;
}

.footer-content {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 130px;
    margin-bottom: 20px;
}

.footer-columna h4 {
    color: #d40000;
    margin-bottom: 15px;
}

.footer-columna ul {
    list-style: none;
}

.footer-columna ul li {
    margin-bottom: 8px;
}

.footer-columna a {
    color: white;
    text-decoration: none;
}

.footer-columna a:hover {
    color: #cc0000;
}

.social-link img {
    width: 32px;
    margin-right: 10px;
}

.h5-footer {
    margin-top: 20px;
    font-size: 0.85em;
}

/* RESPONSIVE */



@media (max-width: 768px) {
    .videos {
        grid-template-columns: 1fr;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px 0;
    }

    .header {
        display: flex;
        flex-direction: column;
        padding: 15px 20px;
        justify-content: space-between;
    }

    .nav-link {
        padding: 5px 0;
        width: 100%;
        text-align: center;
    }

    .logo-motogp-body {
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer-content {
        flex-direction: column;
    }
}

