
body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgba(27, 27, 27, 1);
}
p{
    color: white;
    font-family: 'Barlow', sans-serif;
}
h2{
    color: white;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 96px;
    margin: 60px 0;
}
.videos{
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;
}
.battles{
    grid-area: 1 / 1 / 2 / 2;
    border: 1px solid;
    border-radius: 12px;
    border-color: maroon;
    padding: 10px;
}
.hungarian{
    grid-area: 1 / 2 / 2 / 3;
    border: 1px solid;
    border-radius: 12px;
    border-color: maroon;
    padding: 10px;
}
.italian{
    grid-area: 2 / 1 / 3 / 2;
    border: 1px solid;
    border-radius: 12px;
    border-color: maroon;
    padding: 10px;
}
.german{
    grid-area: 2 / 2 / 3 / 3;
    border: 1px solid;
    border-radius: 12px;
    border-color: maroon;
    padding: 10px;
}
.izq{
    text-align: left;
}
.der{
    text-align: right;
}