:root {
    --font-family: 'Barlow', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #171717;
    background-image: url("../images/fondo.png"); 
    background-size: 500px; 
    background-repeat: repeat; 
    background-attachment: scroll;
    color: #ffffff;
    line-height: 1.6;
}

main {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.img-header-mgp{
    width: 80px;
    height: auto;
}

.header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #080808;
    /* background-color: rgb(8, 8, 8, 0.9); */

    box-shadow: 0 1px 4px rgba(255, 0, 0, 0.295);
}

.nav {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: #ffffff;
    padding: 8px 0;
    text-align: center;
}

.nav-link:hover {
    color: #c20000;
}

.nav-active {
    color: #bc0000;
    border-bottom: 2px solid #bc0000;
}

a {
    text-decoration: none;
}

.logo-motogp-body {
    height: 80px;
    margin-top: 20px;
    margin-bottom: 50px;
    filter: drop-shadow(4px 4px 4px rgb(0, 0, 0));;
}

.body-div {
    text-align: center;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 40px;
    gap: 40px;
}

.body-div h2 {
    color: #bc0000;
    margin-bottom: 20px;
}

.body-div-intro {
    color: #ffffff;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.texto-centrado-grande{
    text-align: center;
    margin-bottom: -40px;
}

.conjunto-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
}

.card {
    flex: 1;
    background-color: #0b0b0b;
    /* background-color: rgb(11, 11, 11, 0.8); */
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
    border: 1px solid #c20000;
    display: block;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
}

.card-titulo {
    font-size: 1.8em;
    font-weight: 700;
    color: #c20000;
    margin-bottom: 10px;
    transition: color 0.3s;
    text-shadow: 
    1px 1px 0px #000000,
    2px 2px 0px #000000,
    3px 3px 0px #000000;
}

.card-titulo:hover{
    color: #f46600;
}

.card-texto {
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 20px;
}

.section-sin-padding {
    margin-left: -20px;
    margin-right: -20px;
}

.CajaRoja {
    background-image: linear-gradient(to right, #c90000, #FB3200);
    display: flex;
    justify-content: center;
    padding: 60px 60px;
    text-align: center;
    gap: 2%;
    margin-bottom: -20px;
}

.CajaRoja-p {
    font-weight: 700;
    font-size: xx-large;
}

.CajaRoja p {
    padding: 0 40px;
}

#btn-subir {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #a80000;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
}

.img-boton-top {
    width: 100%;
    height: auto;
}

#btn-subir:hover {
    background-color: #d0d0d0;
    transform: scale(1.1);
}

.footer {
    background-color: #080808;
    /* background-color: rgb(8, 8, 8, 0.9); */
    padding: 40px 80px;
}

.logo-mgp-footer img{
    width: 130px;
    height: auto;
    padding-bottom: 23px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.footer-columna {
    max-width: 20%;
}

.footer h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #d40000; 
    margin-bottom: 15px;
}

.footer ul {
    list-style: none;
}

.footer ul li a {
    color: #ffffff;
    display: block;
    margin-bottom: 8px;
    font-size: 0.95em;
}

.footer ul li a:hover {
    color: #cc0000;
}


.social-link {
    color: #ffffff;
    box-sizing: border-box;
    margin-right: 10px;
    padding: 0;
}

.social-link:hover {
    filter: brightness(0) saturate(100%) invert(12%) sepia(90%) 
    saturate(6245%) hue-rotate(352deg) brightness(95%) contrast(111%);
}

.h5-footer{
    font-weight: 500;
    padding-top: 20px;

}

@media (max-width: 1024px) {

    .header {
        padding: 20px 40px;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px 0;
    }

    .header {
        display: flex;
        flex-direction: column;
        padding: 15px 20px;
        justify-content: space-between;
    }

    .nav-link {
        padding: 5px 0;
        width: 100%;
        text-align: center;
    }

    .logo-motogp-body {
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .conjunto-cards {
        flex-direction: column;
        grid-template-columns: 1fr;
        padding: 0 20px;
        gap: 20px;
    }

    .CajaRoja {
    background-image: linear-gradient(to bottom, #c90000, #FB3200);
    flex-direction: column;
    }

    .CajaRoja div {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer-content {
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
    }

    .footer-columna {
        max-width: 100%;
    }
}