body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgba(27, 27, 27, 1);
}
p{
    color: rgb(156, 156, 156);
    font-family: 'Barlow', sans-serif;
    text-align: center;
}
h2{
    color: white;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 96px;
    margin: 60px 0;
}

.store{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    height: 1750px; /* 5 artículos por columna */
    gap: 40px; /* opcional, para separar columnas */

}

.articulo {
display: flex;
align-items: center;
justify-content: space-between;
background: rgb(59, 58, 58);
padding: 20px;
width: 700px;
margin: 40px auto;
border-radius: 10px;
}


.articulo img {
width: 150px;
border-radius: 8px;
}


.info {
flex: 1;
margin-left: 20px;
}


.info h4 {
    font-family: 'Jersey 10', sans-serif; 
    font-size: 40px;
    color: #ffffff;
    margin: 0;
    padding: 10px;
    -webkit-text-stroke: 0.3px #780010;
    text-align: center;
    letter-spacing: 2px; 

}


.price {
    font-family: 'Jersey 10', sans-serif;
    color: #ffff;
    font-size: 18px;
    margin-top: 10px;
    -webkit-text-stroke: 0.3px #007806;
}


button {
background: #000;
color: white;
border: 1px solid #444;
padding: 10px 20px;
cursor: pointer;
border-radius: 15px;
}

.carrito {
  width: 80px;
  height: auto;
  position: fixed;    
  top: 20px;          /* distancia desde arriba */
  right: 20px;        /* pegada a la derecha */
  z-index: 999;       /* por si se esconde detrás de algo */
  border: 0.1px solid;
  border-color: #780010;
  border-radius: 5px;
}

.carrito:hover{
    transition: transform 0.2s ease; /* para que el transform sea mas fluido le pongo duracion */
    transform: scale(1.1); /* crece un poco */
    filter: brightness(1.2); /* se ilumina */
    cursor: pointer;
}

.footer {
    background-color: #151515;
    padding: 40px 80px;
}

.logo-mgp-footer img{
    width: 130px;
    height: auto;
    padding-bottom: 23px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.footer-columna {
    max-width: 20%;
}

.footer h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #d40000; 
    margin-bottom: 15px;
}

.footer ul {
    list-style: none;
}

.footer ul li a {
    font-family: 'Barlow', sans-serif;
    color: #ffffff;
    display: block;
    margin-bottom: 8px;
    font-size: 0.95em;
}

.footer ul li a:hover {
    color: #cc0000;
}


.social-link {
    color: #ffffff;
    box-sizing: border-box;
    margin-right: 10px;
    padding: 0;
}

.social-link:hover {
    filter: brightness(0) saturate(100%) invert(12%) sepia(90%) saturate(6245%) hue-rotate(352deg) brightness(95%) contrast(111%);
}

.h5-footer{
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    padding-top: 20px;
    color: #ffffff;

}

@media (max-width: 1024px) {

    .header {
        font-family: 'Barlow', sans-serif;
        padding: 20px 40px;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {

    .nav {
        font-family: 'Barlow', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px 0;
    }

    .header {
        font-family: 'Barlow', sans-serif;
        display: flex;
        flex-direction: column;
        padding: 15px 20px;
        justify-content: space-between;
    }

    .nav-link {
        padding: 5px 0;
        width: 100%;
        text-align: center;
    }

    .logo-motogp-body {
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-content {
        font-family: 'Barlow', sans-serif;
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
    }

    .footer-columna {
        max-width: 100%;
    }
}

main {
    font-family: 'Barlow', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.img-header-mgp{
    width: 80px;
    height: auto;
}

.header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    font-family: 'Barlow', sans-serif;

    box-shadow: 0 1px 4px rgba(255, 0, 0, 0.295);
}

.nav {
    font-family: 'Barlow', sans-serif;
    display: flex;
    gap: 40px;
}

.nav-link {
    color: #ffffff;
    padding: 8px 0;
    text-align: center;
}

.nav-link:hover {
    color: #c20000;
}

.nav-active {
    color: #bc0000;
    border-bottom: 2px solid #bc0000;
}

a {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
}

.logo-motogp-body {
    height: 80px;
    margin-top: 20px;
    margin-bottom: 50px;
}
